doctype html
html(lang='en')
  head
    include /common-head.pug
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous" defer)
    script(src="/jquery.parallax.min.js" defer)
    style
      :scss
        h1, h2, h3, h4, h5, h6, h7 {
          font-weight: 300;
        }
        .circular-image {
          border-radius: 50%;
        }
        .white-border {
          border: 3px solid white
        }
        .parallax-window {
          min-height: 50vh;
        }

  body
    .parallax-window(data-parallax data-src="https://ddw2ppmkywo9u.cloudfront.net/sunset_cropped.jpg" data-bleed="120" data-speed="0.63")

    .text-center
      img(src='https://ddw2ppmkywo9u.cloudfront.net/profile_picture.jpg' class='circular-image white-border' height='150px' width='150px')

    .container
      h1.text-center Kevin Lin

      ul.nav.justify-content-center
        li.nav-item
          a(href='javascript:void(0)' class='nav-link disabled') About Me
        li.nav-item
          a(href='/resume' class='nav-link') Professional Resume

      .row
        article.lead.col-lg-8.offset-lg-2.col-xs-12(style='margin-top: 3rem; margin-bottom: 6rem')
          include:markdown-it /homepage-text.md

      //-
        .row.justify-content-center.mb-5
          .mr-3
            a(href="http://instagram.com/wild0kl")
              i(class="fa fa-instagram fa-3x")
          div
            a(href="https://twitter.com/kevinlinp")
              i(class="fa fa-twitter fa-3x")
