doctype html
html(lang='en')
  head
    include /common-head.pug
    link(rel="stylesheet" href="https://fontlibrary.org/face/cmu-bright" type="text/css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.2/gh-fork-ribbon.min.css")

    style
      include:scss /resume/styles.scss

  body
    .container
      .d-none.d-print-block.position-absolute(style="right: 0")
        small.text-muted
          | printed from
          |
          a(href="https://kevinlinp.org/resume") kevinlinp.org/resume

      .resume
        .text-center
          h1 Kevin Lin
          a(href="mailto:kevin.lin.p@gmail.com") kevin.lin.p@gmail.com
          .resume

        section
          h2 Summary
          p 5-year Ruby on Rails full-stack software developer currently not seeking new opportunities.

        section
          h2 Skills
          ul.list-unstyled.loose-list
            li Languages: Ruby, HTML, Haml, CSS, Sass, JavaScript (ES6)
            li Frameworks: Ruby on Rails, MiniTest, Rspec, Capybara, jQuery, Bootstrap
            li Tools: Linux, PostgreSQL, Sidekiq, Redis, Memcache, Elasticsearch, Git, Heroku, New Relic, CircleCI, Rollbar, Amazon EC2, Amazon Cloudfront, Twilio, Google Analytics, Optimizely
            li Methodologies: Test-driven development, Agile

        section
          include /resume/experience.pug

        section
          include /resume/education.pug

    .d-print-none
      a(class="github-fork-ribbon right-bottom fixed" href="https://github.com/kevinlinp/kevinlinp.github.io" data-ribbon="View me on GitHub" title="View me on GitHub" target="_blank") View me on GitHub
