doctype html
html(lang='en')
  head
    include /common-head.pug
    script(defer src="https://use.fontawesome.com/releases/v5.7.1/js/all.js" integrity="sha384-eVEQC9zshBn0rFj4+TU78eNA19HMNigMviK/PU/FFjLXqa/GKPgX58rvt5Z8PLs7" crossorigin="anonymous")
    link(rel="stylesheet" href="https://fontlibrary.org/face/cmu-bright" type="text/css")
    //-link(rel="stylesheet" href="https://cdn.jsdelivr.net/gh/dreampulse/computer-modern-web-font@master/font/Bright/cmun-bright.css" type="text/css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css")

    style
      include:scss /resume/styles.scss

  body.resume
    .d-print-none.mt-2.mb-3.mx-4.opaque-on-hover(style="font-size: 90%; opacity: 0.3;")
      //- TODO: refactor these styles?!?!
      .d-md-flex.justify-content-end
        .text-right.text-nowrap.mb-1
          strong external links
        .text-right
          .d-inline-block.mb-2.ml-3.text-right
            a(href="https://calendar.google.com/calendar/embed?src=51qm6onhhavsnpe4h2k3n1e2a4%40group.calendar.google.com&mode=week")
              | 'Busy' Calendar
          .d-inline-block.mb-2.ml-3.text-right
            a(href="https://angel.co/kevin-lin-p")
              | AngelList Profile
          .d-inline-block.mb-2.ml-3.text-right
            a(href="https://stackshare.io/kevinlinp/personal-projects")
              | StackShare: Personal Projects

    .d-none.d-print-block.position-absolute(style="right: 0")
      small.text-muted
        | printed from
        |
        a(href="https://kevinlinp.org/resume") kevinlinp.org/resume

    .container
      .text-center
        h1 Kevin Lin
        a(href="mailto:kevin.lin.p@gmail.com") kevin.lin.p@gmail.com


      section
        h2 Summary
        p 5-year Ruby on Rails full-stack software developer with an interest in machine learning.

      section
        h2 Skills
        ul.list-unstyled.loose-list
          li
            strong Languages
            span.ml-2 Ruby, HTML, Haml, CSS, Sass, JavaScript (ES6)
          li
            strong Frameworks
            span.ml-2 Ruby on Rails, MiniTest, RSpec, Capybara, jQuery, Bootstrap
          li
            strong Tools
            span.ml-2 Linux, PostgreSQL, Sidekiq, Redis, Memcache, Elasticsearch, Git, Heroku, New Relic, CircleCI, Rollbar, Amazon EC2, Amazon Cloudfront, Twilio, Google Analytics, Optimizely
          li
            strong Methodologies
            span.ml-2 Test-driven development, Agile

      section
        include /resume/projects.pug

      section
        include /resume/experience.pug

      section
        include /resume/education.pug

    .d-print-none
      a(class="github-fork-ribbon right-bottom fixed" href="https://github.com/kevinlinp/kevinlinp.github.io" data-ribbon="View me on GitHub" title="View me on GitHub" target="_blank") View me on GitHub
