h2 Education

section
  h3
    a(href='https://en.wikipedia.org/wiki/Virginia_Tech') Virginia Tech
    |
    |
    small Blacksburg, VA
  | B.S Computer Science with Business Minor
  p Selected coursework: Technical Writing, Intro to DBMS, Design of Information, Software Engineering

section
  h3
    a(href='https://en.wikipedia.org/wiki/Thomas_Jefferson_High_School_for_Science_and_Technology') Thomas Jefferson High School for Science and Technology
    |
    |
    small Alexandria, VA
