h2 Experience

section.minor-section
  h3
    a(href='https://enovational.com/' target='_blank') Enovational
    |
    |
    small Washington, DC
  p Software Developer, October 2019 – Present
  ul
    li Full-stack developer on a Ruby on Rails/Vue form and low-code app builder.
    li Shipped dozens of features and fixed dozens of bugs.
    li Responsibilities included: data model design, refactoring, feature testing, performance optimization, data migrations, event logging.

section.minor-section
  h3
    a(href='https://www.hospitalityonline.com' target='_blank') Hospitality Online
    |
    |
    small Seattle, WA
  p Software Developer, February 2018 – March 2019
  ul
    li Full-stack developer on a 8-year-old consumer-facing Ruby on Rails project.
    li Shipped dozens of features and fixed dozens of bugs.
    li Responsibilities included: data model design, responsive designs, refactoring, feature testing, performance optimization, and SQL query inspection.

//-section.minor-section
  //-h3
    //-a(href='https://tanookilabs.com/' target='_blank') Tanooki Labs
    //-|
    //-|
    //-small Remote
  //-p Software Developer, Contract, September 2016 – July 2017
  //-ul
    //-li Full-stack developer on a consumer-facing Ruby on Rails project.
    //-li Independently implemented full features with direction from product managers and designers.
    //-li Responsibilities included: data model design, Elasticsearch integration, performance optimization, heavy client-side processing, responsive designs, continuous integration, refactoring, and Heroku deployment.

section.minor-section
  h3
    a(href='https://treatme.com' target='_blank') Clinkle
    |
    |
    small Remote
  p Software Developer, Contract, July 2015 – June 2016
  ul
    li Solo full-stack developer on the Ruby on Rails Treats API server.
    li Took ownership of the entire codebase and attached operational concerns.
    li Developed and deployed intentionally non-deterministic business code.
    li Began feature testing in code, increasing code coverage from 0% to over 85%.
    li Independently implemented full features with direction from product managers and designers.
    li Responsibilities included: payment processing, Heroku hosting, exception logging, NewRelic monitoring, uptime improvement, performance optimization, SQL query inspection, event logging, refactoring, implementing and negotiating web designs with designers, responsive designs, task and project management, coordination with remote workers, feature testing, and continuous integration.

section.minor-section
  h3
    a(href='https://en.wikipedia.org/wiki/Avvo' target='_blank') Avvo
    |
    |
    small Seattle, WA
  p Software Developer, March 2012 – April 2015
  ul
    li Worked on every layer of a complex 8-year-old Rails project comprised of multiple databases, Rails installations, and in-house libraries.
    li Implemented a revamp of the high-traffic legal guide pages through working with designers and product managers.
    li Was part of a small greenfield team that built Avvo's lead tracking solution: Ignite.
    li Shipped dozens of features and fixed hundreds of bugs throughout all of Avvo's codebase.
    li Optimized server response performance by implementing page fragment caching, optimizing SQL queries, and revising data models.
    li Helped divide a monolithic application into several smaller, focused concerns through the use of RESTful microservices.
    li Touched a large variety of topics including analytics, server monitoring, cross-browser issues, browser-automation testing, HTML Microdata, and Rails framework updates.

//-section.minor-section
  //-h3
    //-a(href='https://www.cognizant.com' target='_blank') Cognizant
    //-|
    //-|
    //-small Seattle, WA
  //-p Technology Solutions Analyst, January 2011 – March 2012
  //-ul
    //-li Assisted senior associates through various self-directed programming projects.

//-section.minor-section
  //-h3
    //-a(href='https://www.optimalsatcom.com' target='_blank') Optimal Satcom
    //-|
    //-|
    //-small Reston, VA
  //-p Software Developer Intern, May 2010 – August 2010
  //-ul
    //-li Improved features and fixed bugs in the Enterprise Capacity Manager thick-client desktop application, touching all layers: database, business logic, GUI.
    //-li Completed a simplistic line detector for contour map images.

section.minor-section
  h3
    a(href='https://en.wikipedia.org/wiki/Rackspace' target='_blank') Rackspace
    |
    |
    small Blacksburg, VA
  p Software Developer Intern, Part-Time, January 2009 – May 2010
  ul
    li Completed the MS Exchange functions of the Email and Apps REST API and helped the product launch.
    li Took ownership of the Email and Apps API documentation.

section.minor-section
  h3
    a(href='https://eng.vt.edu' target='_blank') Virginia Tech: College of Engineering
    |
    |
    small Blacksburg, VA
  p Undergraduate Teaching Assistant, January 2008 – May 2008
  ul
    li UTA for ‘ENGE 1104: Discovering Electrical and Computer Engineering and Computer Science’, under Professor Amy Bell.
    li Assisted students with programming and other project activities during lab and office hours.
    li Evaluated teams and provided feedback on project results and presentations.
