h2 Projects
ul.list-unstyled.loose-list
  li
    a(href='https://github.com/kevinlinp/kitchen-sink' target="_blank")
      strong New Tab Page
      span.text-muted.ms-2
        i.fas.fa-external-link-alt.fa-sm
    p Part of my 'kitchen-sink' Meteor/Vue project, a server-hosted browser 'new tab page' with customizable bookmarks and upcoming events that uses streamlined models with a basic Service Worker library to ensure fast loading. Used heavily.

  li
    a(href='https://github.com/kevinlinp/lightbox' target="_blank")
      strong Lightbox
      span.text-muted.ms-2
        i.fas.fa-external-link-alt.fa-sm
    p To enable very rapid development of generative Arduino LED lighting routines, I wrote a Meteor app that watches a local C file and compiles it to asm.js. The browser front-end then runs the asm.js file, and reads the output out of the asm.js 'memory space'. It then sends the output to D3.js, which renders it, allowing near-instant previews of the lighting routines.

  li
    a(href='https://github.com/kevinlinp/event-rego' target="_blank")
      strong Event Rego
      span.text-muted.ms-2
        i.fas.fa-external-link-alt.fa-sm
    p A simple but complete mobile-optimized event registration app that allows payments of an activity fee through PayPal's checkout.js. Written with Meteor/Vue.
