.resume {
  font-family: "Computer Modern Bright", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  margin-top: 4rem;
  margin-bottom: 8rem;
}

header {
  margin-bottom: 3rem;
}

section {
  margin-bottom: 2.25rem;

  &.minor-section {
    margin-bottom: 1.65rem;
  }
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.45rem;
  margin-bottom: .7rem;
}

h3 {
  font-size: 1.25rem;
  margin-top: 1.3rem;
}

a {
  color: #000 !important;
}

ul.loose-list li {
  margin-bottom: .6rem;
}

.github-fork-ribbon {
  opacity: 0.3;
  &:before {
    background-color: #CCC !important;
  }
}

.github-fork-ribbon:hover {
  opacity: 1;

  &:before {
    background-color: #FF7F00 !important;
  }
}

@media print {
  html {
    font-size: 12px;
  }

  .container {
    margin-top: 2rem;
    margin-bottom: 0;
  }
}
